img {
  width: 200px;
}

p {
  font-size: 20px;
}

button {
  float: right;
}

.animal {
  width: 220px;
  height: 330px;
  padding: 5px;
  border: 5px solid green;
  margin-left: 5px;
}

.animal p {
  font-weight: bold;
}

.warning {
  color: red;
}
.dark-background {
  background-color: blue;
  color: white;
}
.light-background {
  background-color: yellow;
  color: blue;
}
